{% extends "base.html" %}

{% block content %}
    <h1>Add A New Blog Entry!</h1>

    <style>
        .error {
            color: red; 
        }
    </style>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category, message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
        {% endwith %}
        </ul>

    <form action="/newpost" method='POST'>
        <label>
            <strong>My Blog Title:</strong>
            <input type="text" id= "blog_title" name="blog_title" value="{{ blog_title }}"/>
        </label>
        <hr>
        <label>
            <strong>New Blog Entry:</strong>
            
            <textarea type="text" id="post" name="post" rows="7" cols="50" value="{{ post }}" ></textarea>
            
        </label>
        <input type="submit" value='Add Post' />
        
    </form>

{% endblock %}